
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/assets/img/favicon.png">
    <link rel="stylesheet" href="static/assets/css/black-dashboard1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="\static\assets\css\black-dashboard1 copy 2.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="static\assets\css\black-dashboard1 copy.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <title>
    Dashboards
  </title>
  <!--     Fonts and icons     -->
  <link href="\static\assets\css\nucleo-icons copy.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="static\assets\css\nucleo-icons copy 2.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="static/assets/demo/demo.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <style>

  span.menu:hover{

    color:grey;
  }
  </style>
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar" >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper" style="background-color:#2E98F1;">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            LOGO
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Company Name
          </a>
        </div>
        <ul class="nav">
          <li class="active">
            <a href="{{url}}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <span class= "menu" style="cursor:pointer;font-size: small">Dashboard</span>
            </a>
          </li>



          <li>


          <a class="menu" id="ankett" href="" >
            <i class="tim-icons icon-chart-bar-32"></i>
            <span class= "menu" style="cursor:pointer;font-size: small"></span>


          </a>

         </li>







        </ul>

      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>

          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
             
              
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->

      <div class="content">
        <div style="font-size;large;">
          
           <!-- CARDS -->

              <div class="container" style="margin-bottom: 0px;padding:0px;">
               
                <div class="header-body"style="margin-bottom: 0px;padding:0px;">
                  <div class="row"style="margin-bottom: 0px;padding:0px;">
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-info mb-0 " >Anket Sayısı</h5>
                              <span class="h2 font-weight-bold  mb-0" style="color:bisque"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-danger text-white rounded-circle shadow" style="width: 3rem;
                              height: 3rem; font-size: 2.25rem;display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center">
                                <i class="fas fa-chart-bar"></i>
                              </div>
                            </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 15.50%</span>
                            <span class="text-nowrap">Since last month</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-info mb-0">Ankete Katılan Kişi Sayısı</h5>
                              <span class="h2 font-weight-bold mb-0"style="color:bisque"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-warning text-white rounded-circle shadow" style="width: 3rem;
                              height: 3rem; font-size: 2.25rem;display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center">
                                <i class="fas fa-chart-pie"></i>
                              </div>
                            </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                            <span class="text-nowrap">Since last week</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-info mb-0">Toplam Cevap Seçeneği  </h5>
                              <span class="h2 font-weight-bold mb-0"style="color:bisque"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-yellow text-white rounded-circle shadow"style="width: 3rem;
                              height: 3rem; font-size: 2.25rem;display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center">
                                <i class="fas fa-percent"></i>
                              </div>
                            </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-up"></i> 3.12%</span>
                            <span class="text-nowrap">Since yesterday</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-info mb-0">Müşteri</h5>
                              <span class="h2 font-weight-bold mb-0"style="color:bisque">6</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-info text-white rounded-circle shadow"style="width: 3rem;
                              height: 3rem; font-size: 2.25rem;display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center">
                                <i class="fas fa-users"></i>
                              </div>
                            </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20%</span>
                            <span class="text-nowrap">Since last month</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

           
          <!--     Sorular Select     ---------------------------------------------------------------------------------------------------------------------------------------------------------->
        </div>
        <br><br><br><br>

            <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card ">
              <div class="card-header">


                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-primary"></i> Prediction Output </h4>
                  <form action="{{my_dict["url"]}}" method="post" id="single_select_form" style="font-size;medium; " >
              <h3>Select Features</h3>
                    <h5>X axis</h5>
                   <select name="ones" class="form-control selectpicker" >
      {% for column in my_dict["prediction_columns"] %}
       <option value="{{column}}" style="font-size: medium ;">{{column}}</option>
        {% endfor %}
    </select>

                   <br><br><h5>Y axis</h5>
                    <select name="one" class="form-control selectpicker" >
      {% for column in my_dict["prediction_output_numeric_columns"] %}
       <option value="{{column}}" style="font-size: medium ;">{{column}}</option>
        {% endfor %}
    </select>
     <br /><br />

     <input type="submit" name="submit" class="btn btn-info" value="Create Chart" />
    </form>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>
                  Test: {{select_box | safe}}
               </h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id= "mychart30" width="150" height="68"></canvas>
                  <script>
var ctx = document.getElementById("mychart30").getContext('2d');
var myChart4 = new Chart(ctx, {
    type: "{{my_dict["chart_type"]}}",
    data: {
        labels: {{my_dict["create label1"] | safe}}

              ,
        datasets: [{
            label: "X axis :{{my_dict["a"]}} y axis: {{my_dict["b"]}}",
            data: {{my_dict["create chart2"] | safe}}
              ,
            backgroundColor: 'rgba(255, 99, 132, 0.4)',
            borderColor: 'rgba(255, 99, 132, 1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card ">
             <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-info"></i>Accuracy Report</h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-success"></i> Total observations Train: {{my_dict["Total_observations"][0]}}
                  Test: {{my_dict["Total_observations"][1]}}
              </h3>
              </div>
               <div class="table-responsive" style="max-height: 500px; overflow: auto;"> <h4 style="color:rgba(255, 99, 132, 1);">Summary</h4>
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        {%for i in my_dict["my_dict_df_columns"]%}
                        <th>{{i}}</th>
                        {% endfor %}
                      </tr>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in range(0,my_dict["prediction_output_len"]) %}
                        <tr>
                        <td>{{my_dict["create label1"][i]}} </td>
                        <td>{{my_dict["create chart2"][i]}}</td>

                        </tr>
                     {% endfor %}


                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="card card-chart table-responsive" >

              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-success"></i>Feature Importance
               </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary"></i> Ankete Katılan Sayı

               </h3>
              </div>
              <div class="table-responsive">

                   <form action="{{my_dict["url"]}}" method="post" id="multiple_select_form" style="font-size;medium; " >
              <h3>Select ID for Filtering </h3>
     <select name="predictions" id="predictions" class="form-control selectpicker" style="font-size;medium;margin-top: 0px;padding:5px;" data-live-search="true" multiple  size="6">
        {% for id in my_dict["prediction_id_column"] %}
       <option value="{{id}}" style="font-size: medium ;">{{id}}</option>
        {% endfor %}

     </select>
     <br /><br />
     <input type="hidden" name="hidden_skillssss" id="hidden_skillsss" />
     <input type="submit" name="submit" class="btn btn-info" value="Filter" />
    </form>


                   <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        {%for i in my_dict["prediction_columns_"]%}
                        <th>{{i}}</th>
                        {% endfor %}
                      </tr>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in range(0,my_dict["prediction_filtered_len_num"]) %}
                        <tr>
                        <td>{{my_dict["prediction_filtered"]["saving_ratio_original"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["account_check_status_original"][i]}} </td>
                            <td>{{my_dict["prediction_filtered"]["duration_in_month_original"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["credit_history_original"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["purpose_original"][i]}} </td>

                         <td>{{my_dict["prediction_filtered"]["savings_original"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["property_original"][i]}} </td>
                            <td>{{my_dict["prediction_filtered"]["housing_original"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["ID"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["saving_ratio_equal_frequency"][i]}} </td>

                            <td>{{my_dict["prediction_filtered"]["duration_in_month_equal_frequency"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["saving_ratio_reciprocal"][i]}} </td>
                            <td>{{my_dict["prediction_filtered"]["account_check_status_no checking account"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["account_check_status_< 0 DM"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["credit_history_critical account/ other credits existing (not at this bank)"][i]}} </td>

                         <td>{{my_dict["prediction_filtered"]["purpose_domestic appliances"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["savings_... < 100 DM"][i]}} </td>
                            <td>{{my_dict["prediction_filtered"]["savings_unknown/ no savings account"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["property_real estate"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["housing_own"][i]}} </td>

                         <td>{{my_dict["prediction_filtered"]["purpose_count_frequency"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["property_count_frequency"][i]}} </td>
                            <td>{{my_dict["prediction_filtered"]["purpose_ordinal_encoder"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["property_ordinal_encoder"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["credit_history_mean_encoder"][i]}} </td>

                            <td>{{my_dict["prediction_filtered"]["predictions"][i]}} </td>
                        <td>{{my_dict["prediction_filtered"]["predictions_binary"][i]}} </td>
                        </tr>
                     {% endfor %}


                    </tbody>
                  </table>
              </div>

            </div>


          </div>
          <div class="row">
         <div class="card card-chart table-responsive" >

              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-success"></i> Permutation Feature Importance
               </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary"></i> Ankete Katılan Sayı

               </h3>
              </div>
              <div class="table-responsive">
                <div class="table-responsive" >
                  <canvas id= "mychart5" width="200" height="68" ></canvas>
                   <script>
var ctx = document.getElementById("mychart5").getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{my_dict["Feature"] | safe}}

              ,
        datasets: [{
            label: "Permutation_Importance_Train	",
            data: {{ my_dict["Permutation_Importance_Train"] | safe}}
              ,
            backgroundColor: 'rgba(255, 99, 132, 0.4)',
            borderColor: 'rgba(255, 99, 132, 1)',

            borderWidth: 1
        },{
            label: "Permutation_Importance_Std_Train",
            data: {{ my_dict["Permutation_Importance_Std_Train"] | safe}}
              ,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',

            borderWidth: 1
        },{
            label: "Permutation_Importance_Test",
            data: {{ my_dict["Permutation_Importance_Train"] | safe}}
              ,
            backgroundColor: 'rgba(255, 206, 86, 0.4)',
            borderColor: 'rgba(255, 206, 86, 1)',

            borderWidth: 1
        },{
            label: "Permutation_Importance_Std_Test",
            data: {{ my_dict["Permutation_Importance_Std_Train"] | safe}}
              ,
            backgroundColor: 'rgba(75, 192, 192, 0.4)',
            borderColor: 'rgba(75, 192, 192, 1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
                </div>
              </div>

            </div>


          </div>

        <div class="row">
            <div class="card card-chart table-responsive" >

              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-success"></i>Feature Importance
               </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary"></i> Ankete Katılan Sayı

               </h3>
              </div>
              <div class="table-responsive">
                <div class="table-responsive" >
                  <canvas id= "mychart4" width="300" height="100" ></canvas>
                   <script>
var ctx = document.getElementById("mychart4").getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{my_dict["Feature"] | safe}}

              ,
        datasets: [{
            label: "Individual_Feature_Importance",
            data: {{ my_dict["Individual_Feature_Importance"] | safe}}
              ,
            backgroundColor: 'rgba(255, 99, 132, 0.4)',
            borderColor: 'rgba(255, 99, 132, 1)',

            borderWidth: 1
        },{
            label: "Pearson_Correlation",
            data: {{ my_dict["Pearson_Correlation"] | safe}}
              ,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',

            borderWidth: 1
        },{
            label: "Spearman_Correlation",
            data: {{ my_dict["Spearman_Correlation"] | safe}}
              ,
            backgroundColor: 'rgba(255, 206, 86, 0.4)',
            borderColor: 'rgba(255, 206, 86, 1)',

            borderWidth: 1
        },{
            label: "Kendall_Correlation",
            data: {{ my_dict["Kendall_Correlation"] | safe}}
              ,
            backgroundColor: 'rgba(75, 192, 192, 0.4)',
            borderColor: 'rgba(75, 192, 192, 1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
                </div>
              </div>

            </div>


          </div>


          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-primary"></i> Accuracy Report </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>Total observations Train: {{my_dict["Total_observations"][0]}}
                  Test: {{my_dict["Total_observations"][1]}}
               </h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id= "mychart2" width="150" height="68"></canvas>
                  <script>
var ctx = document.getElementById("mychart2").getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{my_dict["Dataset"] | safe}}

              ,
        datasets: [{
            label: "TP",
            data: {{ my_dict["TP"] | safe}}
              ,
            backgroundColor: 'rgba(255, 99, 132, 0.4)',
            borderColor: 'rgba(255, 99, 132, 1)',

            borderWidth: 1
        },{
            label: "TN",
            data: {{ my_dict["TN"] | safe}}
              ,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',

            borderWidth: 1
        },{
            label: "FP",
            data: {{ my_dict["FP"] | safe}}
              ,
            backgroundColor: 'rgba(255, 206, 86, 0.4)',
            borderColor: 'rgba(255, 206, 86, 1)',

            borderWidth: 1
        },{
            label: "FN",
            data: {{ my_dict["FN"] | safe}}
              ,
            backgroundColor: 'rgba(75, 192, 192, 0.4)',
            borderColor: 'rgba(75, 192, 192, 1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-info"></i>Accuracy Report</h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-success"></i> Total observations Train: {{my_dict["Total_observations"][0]}}
                  Test: {{my_dict["Total_observations"][1]}}
              </h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id= "mychart3" width="150" height="68"></canvas>
                   <script>
var ctx = document.getElementById("mychart3").getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{my_dict["Dataset"] | safe}}

              ,
        datasets: [{
            label: "Specificity",
            data: {{ my_dict["Specificity"] | safe}}
              ,
            backgroundColor: 'rgba(255, 99, 132, 0.4)',
            borderColor: 'rgba(255, 99, 132, 1)',

            borderWidth: 1
        },{
            label: "Accuracy",
            data: {{ my_dict["Accuracy"] | safe}},


            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',

            borderWidth: 1
        },{
            label: "Precision",
            data: {{ my_dict["Precision"] | safe}}
              ,
            backgroundColor: 'rgba(255, 206, 86, 0.4)',
            borderColor: 'rgba(255, 206, 86, 1)',

            borderWidth: 1
        },{
            label: "Recall",
            data: {{ my_dict["Recall"] | safe}}
              ,
            backgroundColor: 'rgba(75, 192, 192, 0.4)',
            borderColor: 'rgba(75, 192, 192, 1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-info"></i>Accuracy Report</h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-success"></i> Total observations Train: {{my_dict["Total_observations"][0]}}
                  Test: {{my_dict["Total_observations"][1]}}
              </h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id= "mychart11" width="150" height="68"></canvas>
                   <script>
var ctx = document.getElementById("mychart11").getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{my_dict["Dataset"] | safe}}

              ,
        datasets: [{
            label: "F1_score",
            data: {{ my_dict["F1_score"] | safe}}
              ,
            backgroundColor: 'rgba(255, 99, 132, 0.4)',
            borderColor: 'rgba(255, 99, 132, 1)',

            borderWidth: 1
        },{
            label: "Log_loss",
            data: {{ my_dict["Log_loss"] | safe}}
              ,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',

            borderWidth: 1
        },{
            label: "Roc_auc_score",
            data: {{ my_dict["Roc_auc_score"] | safe}}
              ,
            backgroundColor: 'rgba(255, 206, 86, 0.4)',
            borderColor: 'rgba(255, 206, 86, 1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
                </div>
              </div>
            </div>
          </div>

         <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-primary"></i> Accuracy Report </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>Total observations Train: {{my_dict["Total_observations"][0]}}
                  Test: {{my_dict["Total_observations"][1]}}
               </h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="dataView1"></div>
    <div style="display:inline-block; float:left; " id="container1"></div>
    <div style="display:inline-block; float:left;color:white;" id="legend1"></div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-primary"></i> Accuracy Report </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>Total observations Train: {{my_dict["Total_observations"][0]}}
                  Test: {{my_dict["Total_observations"][1]}}
               </h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="dataView"></div>
    <div style="display:inline-block; float:left; " id="container"></div>
    <div style="display:inline-block; float:left;color:white;" id="legend"></div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card card-chart table-responsive" >

              <div class="card-header">
                <h4 style="color:rgba(255, 99, 132, 1);"><i class="tim-icons icon-zoom-split text-success"></i>Feature Importance
               </h4>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary"></i> Ankete Katılan Sayı

               </h3>
              </div>
              <div class="table-responsive">

                   <form action="{{my_dict["url"]}}" method="post" id="multiple_select_form" style="font-size;medium; " >
              <h3>Select ID for Filtering </h3>
     <select name="summary" id="summary" class="form-control selectpicker" style="font-size;medium;margin-top: 0px;padding:5px;" data-live-search="true" multiple  size="6">
        {% for id in my_dict["summary_features"] %}
       <option value="{{id}}" style="font-size: medium ;">{{id}}</option>
        {% endfor %}

     </select>
     <br /><br />
     <input type="hidden" name="hidden_skillssss" id="hidden_skillsss" />
     <input type="submit" name="submit" class="btn btn-info" value="Filter" />
    </form>


                   <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        {%for i in my_dict["summary_df_columns"]%}
                        <th>{{i}}</th>
                        {% endfor %}
                      </tr>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in range(0,my_dict["summary_filtered_len_num"]) %}
                        <tr>
                        <td>{{my_dict["summary_filtered"]["Column_Name"][i]}} </td>
                         <td>{{my_dict["summary_filtered"]["Unique_Data"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Missing_Data"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Missing_Percentage"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Data_Types"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Count"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Mean"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Std"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["Min"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["25%"][i]}} </td>
                             <td>{{my_dict["summary_filtered"]["50%"][i]}} </td>
                            <td>{{my_dict["summary_filtered"]["75%"][i]}} </td>
                            <td>{{my_dict["summary_filtered"]["Max"][i]}} </td>



                        </tr>
                     {% endfor %}


                    </tbody>
                  </table>
              </div>

            </div>


          </div>


      </div>
        <!--     Select     ---------------------------------------------------------------------------------------------------------------------------------------------------------->




       <!--     Sorular Select     ---------------------------------------------------------------------------------------------------------------------------------------------------------->

        </div>






    </div>
  </div>

  <!--   Core JS Files   -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="static/assets/js/core/jquery.min.js"></script>
  <script src="static/assets/js/core/popper.min.js"></script>
  <script src="static/assets/js/core/bootstrap.min.js"></script>
  <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  
  <!--  Notifications Plugin    -->
  <script src="static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="static/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
 <script>
    $(document).ready(function(){
     $('.selectpicker').selectpicker();

     $('#skills').change(function(){
      $('#hidden_skills').val($('#skills').val());
     });

     $('#multiple_select_form').on('submit', function(event){
      event.preventDefault();
      if($('#skills').val() != '')
      {
       var form_data = $(this).serialize();
       $.ajax({
        url:"/ajax_add",
        method:"POST",
        data:form_data,
        success:function(data)
        {
         //console.log(data);
         $('#hidden_skills').val('');
         $('.selectpicker').selectpicker('val', '');
         alert(data);
        }
       })
      }
      else
      {
       alert("Please select framework");
       return false;
      }
     });
    });
    var margin = {top: 50, right: 50, bottom: 100, left: 50};

function Matrix(options) {
	    var width = 300,
	    height = 300,
	    data = options.data,
	    container = options.container,
	    labelsData = options.labels,
	    startColor = options.start_color,
	    endColor = options.end_color;

	var widthLegend = 100;

	if(!data){
		throw new Error('Please pass data');
	}

	if(!Array.isArray(data) || !data.length || !Array.isArray(data[0])){
		throw new Error('It should be a 2-D array');
	}

    var maxValue = d3.max(data, function(layer) { return d3.max(layer, function(d) { return d; }); });
    var minValue = d3.min(data, function(layer) { return d3.min(layer, function(d) { return d; }); });

	var numrows = data.length;
	var numcols = data[0].length;

	var svg = d3.select(container).append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
		.append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var background = svg.append("rect")
	    .style("stroke", "black")
	    .style("stroke-width", "2px")
	    .attr("width", width)
	    .attr("height", height);

	var x = d3.scale.ordinal()
	    .domain(d3.range(numcols))
	    .rangeBands([0, width]);

	var y = d3.scale.ordinal()
	    .domain(d3.range(numrows))
	    .rangeBands([0, height]);

	var colorMap = d3.scale.linear()
	    .domain([minValue,maxValue])
	    .range([startColor, endColor]);

	var row = svg.selectAll(".row")
	    .data(data)
	  	.enter().append("g")
	    .attr("class", "row")
	    .attr("transform", function(d, i) { return "translate(0," + y(i) + ")"; });

	var cell = row.selectAll(".cell")
	    .data(function(d) { return d; })
			.enter().append("g")
	    .attr("class", "cell")
	    .attr("transform", function(d, i) { return "translate(" + x(i) + ", 0)"; });

	cell.append('rect')
	    .attr("width", x.rangeBand())
	    .attr("height", y.rangeBand())
	    .style("stroke-width", 0);

    cell.append("text")
	    .attr("dy", ".32em")
	    .attr("x", x.rangeBand() / 2)
	    .attr("y", y.rangeBand() / 2)
	    .attr("text-anchor", "middle")
	    .style("fill", function(d, i) { return d >= maxValue/2 ? 'white' : 'black'; })
	    .text(function(d, i) { return d; });

	row.selectAll(".cell")
	    .data(function(d, i) { return data[i]; })
	    .style("fill", colorMap);

	var labels = svg.append('g')
		.attr('class', "labels");

	var columnLabels = labels.selectAll(".column-label")
	    .data(labelsData)
	    .enter().append("g")
	    .attr("class", "column-label")
	    .attr("transform", function(d, i) { return "translate(" + x(i) + "," + height + ")"; });

	columnLabels.append("line")
		.style("stroke", "black")
	    .style("stroke-width", "1px")
	    .attr("x1", x.rangeBand() / 2)
	    .attr("x2", x.rangeBand() / 2)
	    .attr("y1", 0)
	    .attr("y2", 5);

	columnLabels.append("text")
	    .attr("x", 30)
	    .attr("y", y.rangeBand() / 2)
	    .attr("dy", ".22em")
	    .attr("text-anchor", "end")
	    .attr("transform", "rotate(-60)")
	    .text(function(d, i) { return d; });

	var rowLabels = labels.selectAll(".row-label")
	    .data(labelsData)
	  .enter().append("g")
	    .attr("class", "row-label")
	    .attr("transform", function(d, i) { return "translate(" + 0 + "," + y(i) + ")"; });

	rowLabels.append("line")
		.style("stroke", "black")
	    .style("stroke-width", "1px")
	    .attr("x1", 0)
	    .attr("x2", -5)
	    .attr("y1", y.rangeBand() / 2)
	    .attr("y2", y.rangeBand() / 2);

	rowLabels.append("text")
	    .attr("x", -8)
	    .attr("y", y.rangeBand() / 2)
	    .attr("dy", ".32em")
	    .attr("text-anchor", "end")
	    .text(function(d, i) { return d; });

    var key = d3.select("#legend")
    .append("svg")
    .attr("width", widthLegend)
    .attr("height", height + margin.top + margin.bottom);

    var legend = key
    .append("defs")
    .append("svg:linearGradient")
    .attr("id", "gradient")
    .attr("x1", "100%")
    .attr("y1", "0%")
    .attr("x2", "100%")
    .attr("y2", "100%")
    .attr("spreadMethod", "pad");

    legend
    .append("stop")
    .attr("offset", "0%")
    .attr("stop-color", endColor)
    .attr("stop-opacity", 1);

    legend
    .append("stop")
    .attr("offset", "100%")
    .attr("stop-color", startColor)
    .attr("stop-opacity", 1);

    key.append("rect")
    .attr("width", widthLegend/2-10)
    .attr("height", height)
    .style("fill", "url(#gradient)")
    .attr("transform", "translate(0," + margin.top + ")");

    var y = d3.scale.linear()
    .range([height, 0])
    .domain([minValue, maxValue]);

    var yAxis = d3.svg.axis()
    .scale(y)
    .orient("right");

    key.append("g")
    .attr("class", "y axis")
    .attr("transform", "translate(41," + margin.top + ")")
    .call(yAxis)

}

// The table generation function
function tabulate(data, columns) {
    var table = d3.select("#dataView").append("table")
            .attr("style", "margin-left: " + margin.left +"px"),
        thead = table.append("thead"),
        tbody = table.append("tbody");

    // append the header row
    thead.append("tr")
        .selectAll("th")
        .data(columns)
        .enter()
        .append("th")
            .text(function(column) { return column; });

    // create a row for each object in the data
    var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr");

    // create a cell in each row for each column
    var cells = rows.selectAll("td")
        .data(function(row) {
            return columns.map(function(column) {
                return {column: column, value: row[column]};
            });
        })
        .enter()
        .append("td")
        .attr("style", "font-family: Courier") // sets the font style
            .html(function(d) { return d.value; });

    return table;
}
    </script>
	<script>

		var confusionMatrix = [
			[{{ my_dict["TP"][1] | safe}}, {{ my_dict["FN"][1] | safe}}],
			[{{ my_dict["FP"][1] | safe}}, {{ my_dict["TN"][1] | safe}}]
		];

        var tp = confusionMatrix[0][0];
        var fn = confusionMatrix[0][1];
        var fp = confusionMatrix[1][0];
        var tn = confusionMatrix[1][1];

        var p = tp + fn;
        var n = fp + tn;

        var accuracy = (tp+tn)/(p+n);
        var f1 = 2*tp/(2*tp+fp+fn);
        var precision = tp/(tp+fp);
        var recall = tp/(tp+fn);

        accuracy = Math.round(accuracy * 100) / 100
        f1 = Math.round(f1 * 100) / 100
        precision = Math.round(precision * 100) / 100
        recall = Math.round(recall * 100) / 100

        var computedData = [];
        computedData.push({"F1":f1, "PRECISION":precision,"RECALL":recall,"ACCURACY":accuracy});

        var labels = ['Class A', 'Class B'];
		Matrix({
			container : '#container',
			data      : confusionMatrix,
			labels    : labels,
            start_color : '#ffffff',
            end_color : '#e67e22'
		});

		// rendering the table
         var table = tabulate(computedData, ["F1", "PRECISION","RECALL","ACCURACY"]);

	</script>
</body>


</html>dir
